<div class="management-container">
  <div class="breadcrumb">
    <ul class="breadcrumb-container">
      <li class="breadcrumb-items srm-text">Página Inicial</li>
      <li class="breadcrumb-items srm-text">Painel de Gestão</li>
    </ul>
  </div>

  <div class="page-container">
    <div class="page-container-title">
      <div class="page-content-title">
        <img class="page-image" src="../../assets/icon-page-management.png" alt="">
        <h2 class="page-title">Painel de Gestão</h2>
      </div>

      <div class="page-product-select">
        <span class="page-product-label">Produto:</span>
        <select class="srm-select srm-select-simple-border srm-select-product">
          <option value="">Todos</option>
          <option value="">Cartões</option>
        </select>
      </div>
    </div>

    <div class="page-content">
      <div class="card card-shortcuts">
        <div class="card-title-container">
          <h4 class="card-title">Atalhos</h4>
          <span class="card-last-day"></span>
        </div>

        <div class="card-items-content">
          <div class="card-items">
            <h5 class="card-items-title srm-text">Operacional</h5>

            <div class="card-items-values srm-text">Envio</div>
            <div class="card-items-values srm-text">Assinatura</div>
            <div class="card-items-values srm-text">Envio de Duplicatas</div>
            <div class="card-items-values srm-text">Assinatura Digital</div>
            <div class="card-items-values srm-text">Nova Operação</div>
          </div>

          <div class="card-items">
            <h5 class="card-items-title srm-text">Geral</h5>

            <div class="card-items-values srm-text">Envio</div>
            <div class="card-items-values srm-text">Assinatura</div>
          </div>
        </div>
      </div>

      <div class="card card-alerts">
        <div class="card-title-container">
          <h4 class="card-title">Alertas</h4>
          <span class="card-last-day">Últimos 5 dias</span>
        </div>

        <div class="card-items-content">
          <div class="card-items">
            <div class="card-items-groups">
              <span class="card-group-value srm-text">23 Notas Canceladas</span>
              <select class="srm-select srm-select-simple-border">
                <option value="">Ações</option>
              </select>
            </div>
            <div class="card-items-groups">
              <span class="card-group-value srm-text">13 Notas Canceladas</span>
              <select class="srm-select srm-select-simple-border">
                <option value="">Ações</option>
              </select>
            </div>
            <div class="card-items-groups">
              <span class="card-group-value srm-text">7 Assinaturas Digital</span>
              <select class="srm-select srm-select-simple-border">
                <option value="">Ações</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
