body, head, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
}

a { text-decoration: none;}
