body, head, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

input, textarea, select {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

a { text-decoration: none;}

.srm-structure {
    display: inline-block;
    vertical-align: top;
}

srm-menu.srm-structure {width: 15%;}
srm-header.srm-structure {width: 84%;}
