/* Simple resets */
body, html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { text-decoration: none; }

ul, li {
  list-style: none;
}

/* inputs */
.page-title {
  color: #04233c;
  font-weight: normal;
}

.page-title,
.page-image {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}

.page-container-title {
  padding: 20px;
  clear: both;
  overflow: hidden;
}

.srm-select {
  background: url('assets/arrow.png') no-repeat 96%;
  -webkit-appearance: none;
  padding: 15px 30px 15px 15px;
  margin-left: 10px;
}

.srm-select-simple-border {
  border: 2px solid #a2cbe8;
  padding: 12px 30px 14px 13px;
  color: #787a7a;
}

/* Page styles */
.page-container {
  display: block;
  overflow: hidden;
}

.breadcrumb-container { padding: 0 20px; }

.breadcrumb-items {
  color: #787a7a;
  font-size: 12px;
  display: inline-block;
  margin-right: 14px;
}

.breadcrumb-items+.breadcrumb-items:before {
  content: '>';
  display: inline-block;
  margin-right: 10px;
}

.page-content-title,
.page-product-select {
  display: inline-block;
  vertical-align: middle;
}

.page-content-title { float: left; }

.page-product-select { float: right; }

.srm-select-product {
  width: 200px;
  height: 60px;
  text-align-last: center;
}

.card-items-content {
    overflow: hidden;
    clear: both;
    display: block;
}

.card {
  display: inline-block;
  background-color: #fff;
  -webkit-box-shadow: -1px 1px 15px 0 #00000059;
  box-shadow: -1px 1px 15px 0 #00000059;
  float: left;
  margin: 10px;
  min-height: 350px;
}

.card-title-container {
  border-bottom: 1px solid #f0f0f1;
  padding: 30px;
  overflow: hidden;
  clear: both;
}

.card-shortcuts { width: 55%; }
.card-alerts { width: 40%; }
.card-alerts .card-title { color: #88a3d2; }

.card-title {
  font-size: 18px;
  font-weight: normal;
  color: #787a7a;
  float: left;
}

.card-last-day {
  color: #787a7a;
  font-size: 14px;
  float: right;
  line-height: 22px;
}

.card-last-day,
.card-title {
  display: inline-block;
  vertical-align: middle;
}

.card-items {
  padding: 30px;
  width: 1px;
}

.card-items-title {
    font-size: 14px;
}

.card-items-values {
  font-size: 12px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid #73b1dd;
  text-align: center;
}

.card-shortcuts .card-items-content > .card-items:first-child {
  min-width: 360px;
  padding: 30px 0px 30px 30px;
}
.card-shortcuts .card-items-content > .card-items:last-child { padding: 30px 30px 0 30px; }

.card-shortcuts .card-items {
    min-width: 215px;
    display: inline-block;
    vertical-align: top;
    float: left;
    border-left: 1px solid #f0f0f1;
}

.card-shortcuts .card-items-content > .card-items:last-child .card-items-values {
    margin-right: 0;
}

.card-alerts .card-items {
  min-width: 100%;
  padding: 0px 30px 30px 30px;
}

.card-alerts .card-items-groups {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    padding: 0;
    border-bottom: 1px solid #f0f0f1;
    height: 70px;
}

.card-items .card-items-groups:last-child { border-bottom: 0;}

.card-items-groups > * { width: 48%; }

.srm-text {
  color: #787a7a;
  font-weight: normal;
}

.card-group-value { font-size: 12px; }

@media (max-width: 768px) {
  .breadcrumb-container { padding: 0 10px; }
  .page-container-title { padding: 10px; }

  .page-title { font-size: 20px; }

  .page-content-title,
  .page-product-select {
    float: none;
    display: block;
    margin: 10px auto;
  }

  .page-product-label,
  .srm-select-product { display: inline-block; }

  .srm-select-product {
    width: 140px;
    padding: 5px;
    height: 40px;
  }

  .card-title-container { padding: 10px 0; }

  .card-alerts .card-items,
  .card-shortcuts .card-items,
  .card-shortcuts .card-items-content > .card-items:last-child,
  .card-shortcuts .card-items-content > .card-items:first-child,
  .card {
    display: block;
    min-width: 200px;
    width: 95%;
    float: none;
    margin: 10px auto;
    padding: 10px;
    border: 0;
  }

  .card-alerts .card-items {
    margin: 0;
    padding: 0;
  }

  .card-last-day,
  .card-title {
    display: block;
    float: none;
    text-align: left;
  }

  .card-items-values {
    display: inline-block;
    margin: 10px 0;
    width: 49%;
  }

  .container.menu-active:before,
  .srm-header.menu-active:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      background-color: #0000005e;
      z-index: 2;
  }
}
