.srm-header.menu-active {
  padding-left: 220px;
}

.srm-header {
    display: block;
    width: 100%;
    clear: both;
    overflow: hidden;
    transition: all 0.3s linear;
}

.srm-header-container {
  height: 70px;
  padding: 10px 20px 0;
  overflow: hidden;
}

.logo { float: left; }

.srm-header-actions { float: right; }

.header-title { color: #787a7a; }

.login-container {
  display: inline-block;
  vertical-align: middle;
  background-color: #04233c;
  padding-left: 15px;
}

.login-container .srm-select-login,
.login-container .srm-alert {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.srm-select.srm-select-login { background: url('../../assets/arrow-bg.png') no-repeat 96%; }

.icon-alert {
  width: 15px;
  height: 15px;
}

.srm-alert {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #4598d2;
    text-align: center;
    padding: 15px;
}

.srm-alert-container {
    position: relative;
}

.qty-alert {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: #fff;
    font-size: 12px;
    border-radius: 50px;
    text-align: center;
    padding: 3px;
    -webkit-box-shadow: 1px 1px 1px 0px #10101047;
    box-shadow: 1px 1px 1px 0px #10101047;
}
