<header class="srm-header">
  <div class="srm-logo">
    <img class="logo" src="" alt="">

    <div class="srm-header-actions">
      <span>Grupo Econômico</span>

      <select class="srm-select-vision">
        <option>Visão Agregada</option>
        <option>Visão Única</option>
      </select>

      <select class="srm-select-login" name="">
        <option value="">Sandra Oliveira</option>
        <option value="">Isaque Alves</option>
      </select>

      <div class="srm-alert">
        <img class="srm-icon-alert" src="" alt="">
        <span>3</span>
      </div>
    </div>
  </div>
</header>
