<div class="srm-menu" [class.menu-active]="menuActive">
  <div class="srm-search">
    <input class="srm-input-search" type="text" name="search" placeholder="Pesquise Aqui">
    <a class="srm-btn-search" href="javascript:void(0);">
      <img class="srm-icons" src="../../assets/icon-search.png" alt="">
    </a>
  </div>

  <nav class="srm-menu-container">
    <a href="javascript: void(0);" *ngFor="let item of menuItems" class="srm-menu-items">
      <img class="srm-icons" [src]="item.icon" alt="">
      <span class="srm-menu-text">{{item.name}}</span>
    </a>
  </nav>
</div>
