<div class="srm-menu" [class.menu-active]="menuActive">
  <div class="srm-search">
    <input class="srm-input-search" type="text" name="search" placeholder="Pesquise Aqui">
    <a class="srm-btn-search" href="javascript:void(0);">
      <img class="srm-icons" src="../../assets/icon-search.png" alt="">
    </a>
  </div>

  <nav class="srm-menu-container">
    <div *ngFor="let item of menuItems">
      <div routerLinkActive="active">
        <a class="srm-menu-items" routerLink="/{{item.route}}">
          <img class="srm-icons" [src]="item.icon" alt="">
          <span class="srm-menu-text">{{item.name}}</span>
        </a>
      </div>
    </div>
  </nav>
</div>
