<div class="srm-menu menu-active">
  <div class="srm-search">
    <input class="srm-input-search" type="text" name="search" placeholder="Pesquise Aqui">
    <a class="srm-btn-search" href="javascript:void(0);">
      <img class="srm-icons" src="../../assets/icon-search.png" alt="">
    </a>
  </div>

  <nav class="srm-menu-container">
    <a href="javascript: void(0);" class="srm-menu-items">
      <img class="srm-icons" src="../../assets/icon-management.png" alt="">
      <span class="srm-menu-text">Painel de Gestão</span>
    </a>
    <a href="javascript: void(0);" class="srm-menu-items">
      <img class="srm-icons" src="../../assets/icon-account-digital.png" alt="">
      <span class="srm-menu-text">Conta Digital</span>
    </a>
    <a href="javascript: void(0);" class="srm-menu-items">
      <img class="srm-icons" src="../../assets/icon-receivables.png" alt="">
      <span class="srm-menu-text">Ant. de Recebiveis <span class="srm-menu-subtex"> <img class="icon-item" src="../../assets/menu-arrow.png" alt=""> </span> </span>
    </a>
  </nav>

  <a class="show-menu" href="javascript:void(0);"><< Fechar menu</a>
</div>
